<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589504567275-6rjbddra58br2ko4feo94ni18iieml41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589504567275-6rjbddra58br2ko4feo94ni18iieml41</string>
	<key>API_KEY</key>
	<string>AIzaSyAro7sVX39AJw1gRiptFGxqqoJBIT5LtS0</string>
	<key>GCM_SENDER_ID</key>
	<string>589504567275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.tasks</string>
	<key>PROJECT_ID</key>
	<string>planify-3f223</string>
	<key>STORAGE_BUCKET</key>
	<string>planify-3f223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589504567275:ios:e17c659fbbeb4ae49f6bae</string>
</dict>
</plist>